/* .App {
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  cursor: pointer;
} */

.App {
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  cursor: pointer;
}
.input-group {
  /* padding: 20px 40px; */
}
input {
  background-color: #ffffffcb;
  text-align: center;
  padding: 15px 80px;
  margin: 5px;
}
input:hover {
  /* border-radius: 10%; */
  box-shadow: 0 0 10px 10px #fdfdfd;
  padding: 20px 100px;
  margin: 5px;
}
